SECRET=MIICWgIBAAKBgEoGx23ZO9Q+VqOBe2kFIVszq98RzxxMPpdynVIDtoudxmT1nG8Fwko+B2wXpT3L23iQP0QsNkyKKh8o/VfiCItUB2oEql75JBfJmC8bDax8J4qQbdwr0iKSMolEoqshBhdzmAj/y5m1o5LNoUrVmvAoLaV8ezCHd8CQn9u7eX4tAgMBAAECgYAs/+f1d8ut3uNN66U4lxzK0yNUq//JxPN7nvnRZF5wis2Si9e3ibms5f4fEFSrtyPIK2+6ImIzrv2iCYnQBaCJYmE3VHIZtc5P2u5rI0EeDxPzcuB7cp1kz7vkgF4Bdw40F6GANUr8ZooI79OTscVFpXgw7xU4Al5xA90L/QtJIQJBAI8qBYjNBfSIEUXeSK60NKce6v3baZ6iA9WakKAtVqPOs2LvEUgIeYg9oktMhMQo2K5Et7sjg4oQaSmVpRHWnpkCQQCEXvjQcg3XqRDR8KXj8InD925GQKTlxP+IKRXE6X91X11/uInedsTlAg8pT3MiOvE34PVD6+aK5FJu79e9O7y1AkAvhNoraynz3YomL77eRjBH3GpRcpefMNWm+9PPZt0gKAbA6utIho+YWiTZa3+SAKDTTznQ4tvRYtsVE3ej8SHZAkAPoQ8LvYu43PNpdlp/8VSy2LIihVty7bGmKAOz/kXYW+w0Olu88pUI3RdhL0pOzlrQ2DTdUiskVxUMmDEG3NjJAkBBSRbK68/x6Ez2HFpv8AQPkSwbZuzOLkpTMEadQXZ+1NeJOfFzk9Wa0Orou8lltBOItW1Aa48ag5YzYU+IN45Z
MONGODB_URL="mongodb://localhost:27017/dbTasks"